@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #253b47;
  --color-button: #34354bc9;
  --color-hf : #2d4858 ;
  --color-blog: #334c64;
  --color-text: #1ed4ecce;
  --color-subtext: #FF8A71;
}